@page "/admin-profile"
@using HospitalManagementSystem.Models
@inject UserService UserService

<h1>Admin Profile</h1>

@if (UserInfo != null)
{
    <div>
        <label>First Name: @UserInfo.FirstName</label><br />
        <label>Last Name: @UserInfo.LastName</label><br />
        <label>Username: @UserInfo.Username</label><br />
        <label>Gender: @UserInfo.Gender</label><br />
        <label>Age: @UserInfo.Age</label><br />
        <label>Cell Phone: @UserInfo.CellPhone</label><br />
        <label>Blood Group: @UserInfo.BloodGroup</label><br />
        <label>Emergency Contact: @UserInfo.EmergencyContact</label><br />
        <label>Post: @UserInfo.Post</label><br />
    </div>
}
else
{
    <p>Loading...</p>
}

<button @onclick="GoToAdminPage">Go to Admin Page</button>
<button @onclick="GoToLoginPage">Logout</button>

@code {
    private UserInfoModel UserInfo;

    protected override async Task OnInitializedAsync()
    {
        // Fetch user info from the server
        UserInfo = await UserService.GetUserInfo(Login.Username); // Assuming UserService handles fetching user info
    }

    private void GoToAdminPage()
    {
        NavigationManager.NavigateTo("/admin");
    }

    private void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }
}
